<div id="<%= dom_id count %>">
  <p>
    <strong>Name:</strong>
    <%= count.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= count.description %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= count.iban %>
  </p>

  <p>
    <strong>Initial amount:</strong>
    <%= count.initial_amount %>
  </p>

</div>
