<%= form_with(model: [:backoffice, movement]) do |form| %>
  <% if movement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :expensive_item_id, style: "display: block" %>
    <%= form.text_field :expensive_item_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :causal, style: "display: block" %>
    <%= form.text_area :causal %>
  </div>

  <div>
    <%= form.label :movement_type, style: "display: block" %>
    <%= form.text_field :movement_type %>
  </div>

  <div>
    <%= form.label :currency_date, style: "display: block" %>
    <%= form.datetime_field :currency_date %>
  </div>

  <div>
    <%= form.label :node, style: "display: block" %>
    <%= form.text_area :node %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
