<div id="<%= dom_id movement %>">
  <p>
    <strong>User:</strong>
    <%= movement.user_id %>
  </p>

  <p>
    <strong>Expensive items:</strong>
    <%= movement.expensive_item_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

  <p>
    <strong>Causal:</strong>
    <%= movement.causal %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= movement.movement_type %>
  </p>

  <p>
    <strong>Currency date:</strong>
    <%= movement.currency_date %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= movement.note %>
  </p>

</div>
