<p style="color: green"><%= notice %></p>

<%= render @movement %>

<div>
  <%= link_to "Edit this movement", backoffice_edit_movement_path(@movement) %> |
  <%= link_to "Back to movements", backoffice_movements_path %>

  <%= button_to "Destroy this movement", @movement, method: :delete %>
</div>
