<!DOCTYPE html>
<html>
  <head>
    <title>Parrocchiatellaro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag "backoffice", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'backoffice', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backoffice', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/e61190632e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <%= yield %>
  </body>
</html>
